# packages in environment at /Users/kuboshion/miniconda3/envs/imgenv:
#
# Name                    Version                   Build  Channel
altair                    5.5.0              pyhd8ed1ab_1    conda-forge
appnope                   0.1.4              pyhd8ed1ab_0    conda-forge
asttokens                 3.0.0              pyhd8ed1ab_0    conda-forge
attrs                     25.3.0             pyh71513ae_0    conda-forge
aws-c-auth                0.9.0               h7b7b1db_16    conda-forge
aws-c-cal                 0.9.2                h6f29d6d_1    conda-forge
aws-c-common              0.12.4               h1c43f85_0    conda-forge
aws-c-compression         0.3.1                h7a4e982_6    conda-forge
aws-c-event-stream        0.5.5                he80c2a0_1    conda-forge
aws-c-http                0.10.2               h5393f03_3    conda-forge
aws-c-io                  0.21.0               h46f635e_1    conda-forge
aws-c-mqtt                0.13.1               h14d32e2_4    conda-forge
aws-c-s3                  0.8.3                hee7c3f6_1    conda-forge
aws-c-sdkutils            0.2.4                h7a4e982_1    conda-forge
aws-checksums             0.2.7                h7a4e982_2    conda-forge
aws-crt-cpp               0.32.10              hdb1ac85_3    conda-forge
aws-sdk-cpp               1.11.510            h406418f_14    conda-forge
azure-core-cpp            1.14.0               h9a36307_0    conda-forge
azure-identity-cpp        1.10.0               ha4e2ba9_0    conda-forge
azure-storage-blobs-cpp   12.13.0              h3d2f5f1_1    conda-forge
azure-storage-common-cpp  12.8.0               h1ccc5ac_1    conda-forge
azure-storage-files-datalake-cpp 12.12.0              h86941f0_1    conda-forge
backcall                  0.2.0              pyh9f0ad1d_0    conda-forge
blinker                   1.9.0              pyhff2d567_0    conda-forge
brotli                    1.1.0                h00291cd_2    conda-forge
brotli-bin                1.1.0                h00291cd_2    conda-forge
brotli-python             1.1.0           py311hd89902b_2    conda-forge
bzip2                     1.0.8                hfdf4475_7    conda-forge
c-ares                    1.34.5               hf13058a_0    conda-forge
ca-certificates           2025.8.3             hbd8a1cb_0    conda-forge
cachetools                6.1.0              pyhd8ed1ab_0    conda-forge
certifi                   2025.8.3           pyhd8ed1ab_0    conda-forge
cffi                      1.17.1          py311h137bacd_0    conda-forge
charset-normalizer        3.4.2              pyhd8ed1ab_0    conda-forge
click                     8.2.1              pyh707e725_0    conda-forge
comm                      0.2.2              pyhd8ed1ab_0    conda-forge
contourpy                 1.3.2           py311h4e34fa0_0    conda-forge
cycler                    0.12.1             pyhd8ed1ab_1    conda-forge
debugpy                   1.8.14          py311hc356e98_0    conda-forge
decorator                 5.1.1              pyhd8ed1ab_0    conda-forge
executing                 2.1.0              pyhd8ed1ab_0    conda-forge
fonttools                 4.58.0          py311ha3cf9ac_0    conda-forge
freetype                  2.13.3               h694c41f_1    conda-forge
gflags                    2.2.2             hac325c4_1005    conda-forge
gitdb                     4.0.12             pyhd8ed1ab_0    conda-forge
gitpython                 3.1.45             pyhff2d567_0    conda-forge
glog                      0.7.1                h2790a97_0    conda-forge
h2                        4.2.0              pyhd8ed1ab_0    conda-forge
hpack                     4.1.0              pyhd8ed1ab_0    conda-forge
hyperframe                6.1.0              pyhd8ed1ab_0    conda-forge
icu                       75.1                 h120a0e1_0    conda-forge
idna                      3.10               pyhd8ed1ab_1    conda-forge
importlib-metadata        8.5.0              pyha770c72_0    conda-forge
ipykernel                 6.29.5             pyh57ce528_0    conda-forge
ipython                   8.12.2             pyhd1c38e8_0    conda-forge
jedi                      0.19.1             pyhd8ed1ab_0    conda-forge
jinja2                    3.1.6              pyhd8ed1ab_0    conda-forge
jsonschema                4.25.0             pyhe01879c_0    conda-forge
jsonschema-specifications 2025.4.1           pyh29332c3_0    conda-forge
jupyter_client            8.6.3              pyhd8ed1ab_0    conda-forge
jupyter_core              5.7.2              pyh31011fe_1    conda-forge
kiwisolver                1.4.7           py311hf2f7c97_0    conda-forge
krb5                      1.21.3               h37d8d59_0    conda-forge
lcms2                     2.17                 h72f5680_0    conda-forge
lerc                      4.0.0                hcca01a6_1    conda-forge
libabseil                 20250127.1      cxx17_h0e468a2_0    conda-forge
libarrow                  20.0.0           h7601d43_8_cpu    conda-forge
libarrow-acero            20.0.0           hdc53af8_8_cpu    conda-forge
libarrow-dataset          20.0.0           hdc53af8_8_cpu    conda-forge
libarrow-substrait        20.0.0           ha37b807_8_cpu    conda-forge
libblas                   3.9.0           31_h7f60823_openblas    conda-forge
libbrotlicommon           1.1.0                h00291cd_2    conda-forge
libbrotlidec              1.1.0                h00291cd_2    conda-forge
libbrotlienc              1.1.0                h00291cd_2    conda-forge
libcblas                  3.9.0           31_hff6cab4_openblas    conda-forge
libcrc32c                 1.1.2                he49afe7_0    conda-forge
libcurl                   8.14.1               h5dec5d8_0    conda-forge
libcxx                    20.1.3               hf95d169_0    conda-forge
libdeflate                1.24                 hcc1b750_0    conda-forge
libedit                   3.1.20250104    pl5321ha958ccf_0    conda-forge
libev                     4.33                 h10d778d_2    conda-forge
libevent                  2.1.12               ha90c15b_1    conda-forge
libexpat                  2.7.0                h240833e_0    conda-forge
libffi                    3.4.6                h281671d_1    conda-forge
libfreetype               2.13.3               h694c41f_1    conda-forge
libfreetype6              2.13.3               h40dfd5c_1    conda-forge
libgfortran               14.2.0             hef36b68_105    conda-forge
libgfortran5              14.2.0             h58528f3_105    conda-forge
libgoogle-cloud           2.36.0               h777fda5_1    conda-forge
libgoogle-cloud-storage   2.36.0               h3397294_1    conda-forge
libgrpc                   1.71.0               h7d722e6_1    conda-forge
libiconv                  1.18                 h4b5e92a_1    conda-forge
libjpeg-turbo             3.1.0                h6e16a3a_0    conda-forge
liblapack                 3.9.0           31_h236ab99_openblas    conda-forge
liblzma                   5.8.1                hd471939_0    conda-forge
liblzma-devel             5.8.1                hd471939_0    conda-forge
libnghttp2                1.64.0               hc7306c3_0    conda-forge
libopenblas               0.3.29          openmp_hbf64a52_0    conda-forge
libopentelemetry-cpp      1.21.0               h30c661f_0    conda-forge
libopentelemetry-cpp-headers 1.21.0               h694c41f_0    conda-forge
libparquet                20.0.0           h283e888_8_cpu    conda-forge
libpng                    1.6.47               h3c4a55f_0    conda-forge
libprotobuf               5.29.3               h14f6895_2    conda-forge
libre2-11                 2025.06.26           hfc00f1c_0    conda-forge
libsodium                 1.0.18               hbcb3906_1    conda-forge
libsqlite                 3.46.0               h1b8f9f3_0    conda-forge
libssh2                   1.11.1               hed3591d_0    conda-forge
libthrift                 0.21.0               h75589b3_0    conda-forge
libtiff                   4.7.0                h1167cee_5    conda-forge
libutf8proc               2.10.0               h5b79583_0    conda-forge
libwebp-base              1.5.0                h6cf52b4_0    conda-forge
libxcb                    1.17.0               hf1f96e2_0    conda-forge
libxml2                   2.13.8               he1bc88e_1    conda-forge
libzlib                   1.3.1                hd23fc13_2    conda-forge
llvm-openmp               20.1.5               ha54dae1_0    conda-forge
lz4-c                     1.10.0               h240833e_1    conda-forge
markupsafe                3.0.2           py311ha3cf9ac_1    conda-forge
matplotlib                3.10.3          py311h6eed73b_0    conda-forge
matplotlib-base           3.10.3          py311h19a4563_0    conda-forge
matplotlib-inline         0.1.7              pyhd8ed1ab_0    conda-forge
munkres                   1.1.4              pyh9f0ad1d_0    conda-forge
narwhals                  2.0.1              pyhe01879c_0    conda-forge
ncurses                   6.5                  h0622a9a_3    conda-forge
nest-asyncio              1.6.0              pyhd8ed1ab_0    conda-forge
nlohmann_json             3.12.0               h92383a6_0    conda-forge
numpy                     2.2.4                    pypi_0    pypi
opencv-python             4.11.0.86                pypi_0    pypi
openjpeg                  2.5.3                h7fd6d84_0    conda-forge
openssl                   3.5.2                h6e31bce_0    conda-forge
orc                       2.1.2                h82caab2_0    conda-forge
packaging                 24.2               pyhd8ed1ab_2    conda-forge
pandas                    2.3.1           py311hf4bc098_0    conda-forge
parso                     0.8.4              pyhd8ed1ab_0    conda-forge
pexpect                   4.9.0              pyhd8ed1ab_0    conda-forge
pickleshare               0.7.5                   py_1003    conda-forge
pillow                    11.2.1          py311h25da234_0    conda-forge
pip                       24.3.1             pyh8b19718_0    conda-forge
platformdirs              4.3.6              pyhd8ed1ab_0    conda-forge
prometheus-cpp            1.3.0                h7802330_0    conda-forge
prompt-toolkit            3.0.48             pyha770c72_0    conda-forge
prompt_toolkit            3.0.48               hd8ed1ab_1    conda-forge
protobuf                  5.29.3          py311hdcc76d6_0    conda-forge
psutil                    7.0.0           py311h4d7f069_0    conda-forge
pthread-stubs             0.4               h00291cd_1002    conda-forge
ptyprocess                0.7.0              pyhd3deb0d_0    conda-forge
pure_eval                 0.2.3              pyhd8ed1ab_0    conda-forge
pyarrow                   20.0.0          py311h6eed73b_0    conda-forge
pyarrow-core              20.0.0          py311he02522f_0_cpu    conda-forge
pycparser                 2.22               pyh29332c3_1    conda-forge
pydeck                    0.9.1              pyhd8ed1ab_0    conda-forge
pygments                  2.18.0             pyhd8ed1ab_0    conda-forge
pyparsing                 3.2.3              pyhd8ed1ab_1    conda-forge
pysocks                   1.7.1              pyha55dd90_7    conda-forge
python                    3.11.3          h99528f9_0_cpython    conda-forge
python-dateutil           2.9.0              pyhd8ed1ab_0    conda-forge
python-tzdata             2025.2             pyhd8ed1ab_0    conda-forge
python_abi                3.11                    6_cp311    conda-forge
pytz                      2025.2             pyhd8ed1ab_0    conda-forge
pyyaml                    6.0.2           py311ha3cf9ac_2    conda-forge
pyzmq                     26.2.0          py311h95f92fe_0    conda-forge
qhull                     2020.2               h3c5361c_5    conda-forge
re2                       2025.06.26           ha5e900a_0    conda-forge
readline                  8.2                  h7cca4af_2    conda-forge
referencing               0.36.2             pyh29332c3_0    conda-forge
requests                  2.32.4             pyhd8ed1ab_0    conda-forge
rpds-py                   0.26.0          py311hd1a56c6_0    conda-forge
setuptools                75.3.0             pyhd8ed1ab_0    conda-forge
six                       1.16.0             pyh6c4a22f_0    conda-forge
smmap                     5.0.2              pyhd8ed1ab_0    conda-forge
snappy                    1.2.2                h25c286d_0    conda-forge
sqlite                    3.46.0               h28673e1_0    conda-forge
stack_data                0.6.2              pyhd8ed1ab_0    conda-forge
streamlit                 1.48.0             pyhd8ed1ab_0    conda-forge
tenacity                  9.1.2              pyhd8ed1ab_0    conda-forge
tk                        8.6.13               h1abcd95_1    conda-forge
toml                      0.10.2             pyhd8ed1ab_1    conda-forge
tornado                   6.4.2           py311h4d7f069_0    conda-forge
traitlets                 5.14.3             pyhd8ed1ab_0    conda-forge
typing-extensions         4.12.2               hd8ed1ab_0    conda-forge
typing_extensions         4.12.2             pyha770c72_0    conda-forge
tzdata                    2025b                h78e105d_0    conda-forge
unicodedata2              16.0.0          py311h4d7f069_0    conda-forge
urllib3                   2.5.0              pyhd8ed1ab_0    conda-forge
watchdog                  6.0.0           py311h4d7f069_0    conda-forge
wcwidth                   0.2.13             pyhd8ed1ab_0    conda-forge
wheel                     0.45.1             pyhd8ed1ab_0    conda-forge
xorg-libxau               1.0.12               h6e16a3a_0    conda-forge
xorg-libxdmcp             1.1.5                h00291cd_0    conda-forge
xz                        5.8.1                h357f2ed_0    conda-forge
xz-gpl-tools              5.8.1                h357f2ed_0    conda-forge
xz-tools                  5.8.1                hd471939_0    conda-forge
yaml                      0.2.5                h4132b18_3    conda-forge
zeromq                    4.3.5                hde137ed_4    conda-forge
zipp                      3.21.0             pyhd8ed1ab_0    conda-forge
zlib                      1.3.1                hd23fc13_2    conda-forge
zstandard                 0.23.0          py311h4d7f069_2    conda-forge
zstd                      1.5.7                h8210216_2    conda-forge
